* {
    margin: 20;
    padding: 20;
    font-style: arial;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.logo {
    background-color: white;
    width: 100%;
    vertical-align: middle;
}

.titolo {
    display: inline-block;
    font-size: 30px;
    vertical-align: 45%;
    text-align: center;
}

main {
    width: 80%;
    background-color: white;
    margin: auto;

    margin-top: 30px;
    height: 100%;
}

.container {
    margin: auto;
    width: 20%;
}

.inputzone {
    border-style: outset;
    display: block;
    height: 10%;
    padding: 10px;
    padding-left: 35px;
}
.listanascosta{
    list-style: none;   
    padding: 8px;
}

.boxblue{
    background-color: #10befd;
    border-radius: 12px;
    padding: 5px;
    border: 2px #10befd solid ;
    text-align: center;
    width: 80px;
    color: white;
    font-size: 16px;
    display: inline-block;
}