* {
    margin: 0;
    padding: 0;
    font-style: arial;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #f0f0f0;
}

.logo {
    background-color: white;
    width: 100%;
    vertical-align: middle;
    font-weight: bolder;
    font: size 70px;
}

.titolo {
    display: inline-block;
    font-size: 30px;
    vertical-align: 45%;
    text-align: center;
}

main {
    width: 80%;
    background-color: white;
    margin: auto;

    margin-top: 30px;
    height: 100%;
}

.container {
    margin: auto;
    width: 20%;
}

.inputzone {
    border-style: outset;
    display: block;
    height: 10%;
    padding: 10px;
    padding-left: 35px;
}

.listanascosta {
    list-style: none;
    padding: 8px;
}

.bottontask {
    background-color: #10befd;
    padding: 5px;
    width: 80px;
    color: white;
}

.bottonsection {
    padding: 5px;
    width: 120px;
    background-color: rgba(211, 211, 211, 0.9);
}

.boxblue {
    background-color: #10befd;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    width: 80px;
    color: white;
    font-size: 16px;
    display: inline-block;
}

.boxorange {
    background-color: #ffb700;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    width: 80px;
    color: white;
    font-size: 16px;
    display: inline-block;
}

.boxgreen {
    background-color: #00c247af;
    border-radius: 12px;
    padding: 5px;

    text-align: center;
    width: 80px;
    color: white;
    font-size: 16px;
    display: inline-block;
}

.boxpurple {
    background-color: #8b00f5;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    width: 80px;
    color: white;
    font-size: 16px;
    display: inline-block;
}

.boxpink {
    background-color: #ff3dbb;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    width: 80px;
    color: white;
    font-size: 16px;
    display: inline-block;
}

.boxpistacchio {
    background-color: #60ba00b3;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    width: 80px;
    color: white;
    font-size: 16px;
    display: inline-block;
}